{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

<nav class="telescope_background">
    <div class="nav-wrapper">
        <img class="navbar_logo" src="{{@blog.logo}}" alt="Logo" />
        <a href="#" class="brand-logo">{{@blog.title}}</a>
        {{#if @blog.logo}}
            <!--a class="brand-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a-->
        {{/if}}
        {{#if @blog.navigation}}
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="subscribe.html"><i class="material-icons">email</i></a></li>
                <li><a href="donate.html"><i class="material-icons">credit_card</i></a></li>
            </ul>
        {{/if}}
    </div>
</nav>

<!--div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a-->


{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs
    {{> "loop"}}
    --}} </main>
