{{!< default}}

{{#post}}

  <main class="content" role="main">
    <div class="inner">

      <article class="{{post_class}}">

        <header class="post-header">
          <br><br><br>
          <h1 class="post-title">{{{title}}}</h1>
        </header>

        <section class="post-content">
          {{#get "users" limit="all" }}
              <div class="row">
                {{#foreach users}}
                  <div id="header" class="author-element">
                    <div class="inner">
                      <span class="header-title">
                  {{#if image}}
                  <figure class="header-image">
                    <img src="{{image}}" alt="{{name}}" />
                  </figure>
                  {{/if}}
                  <h1 class="header-name">{{name}}</h1>
                  {{#if bio}}
                    <span class="header-description">{{bio}}</span>
                      {{/if}}
                      <span class="header-meta">
                    {{#if location}}
                    <span><i class="icon-location"></i> {{location}}</span>
                      {{/if}}
                      {{#if website}}
                        <span><a href="{{website}}"><i class="icon-link"></i> Website</a></span>
                      {{/if}}
                      </span>
                      </span>
                    </div>
                  </div>
                {{/foreach}}
              </div>
          {{/get}}
        </section>

{{/post}}

</article>
</div>

</main>
